/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #8B4513;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    border: 2px solid #8B4513; /* Borda castanha */
}

h1 {
    font-size: 24px;
    color: #f4f4f4; /* Cor castanha */
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    color: #f4f4f4;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #f4f4f4;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #8B4513; /* Cor castanha */
    outline: none;
}

textarea {
    resize: vertical;
    height: 150px;
}

button {
    background-color: #8B4513; /* Cor castanha */
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
}

button:hover {
    background-color: #f4f4f4; /* Cor castanha mais escura */
}

button:active {
    background-color: #f4f4f4; /* Cor castanha ainda mais escura */
}

